@import url("./styles.css");

/*  <!--  HEADER -->  */
.header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.header__nav
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 17px 250px;
    min-width: 940px;
    height: 40px;
}

.header__nav-item
{
    display: flex;
    align-items: center;
    height: 40px;
}

.header__logo
{
    color: #FFFFFF;
    font: 26px/26px "Lora";
    margin: 3px 0 11px 0;
}

.header__menu
{
    display: flex;
    flex-direction: row;
}

.header__menu-link
{
    color: #FFFFFF;
    font: 12px/20px "Oxygen";
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 20px;
}

.header__content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
}

.header__title
{
    font: 50px/51px "Lora";
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

.header__subtitle
{
    color: rgba(255, 255, 255, 0.63);
    font: 17px/20px "Oxygen";
    text-align: center;
    margin-top: 20px;
}

.header__button
{
    margin-top: 31px;
    width: 167px;
    height: 44px;
    text-align: center;
    background: #DD783F;
    border-radius: 3px;
    border-style: none;
    font: 13px/20px "Oxygen";
    color: #ffffff;
}
/*  <!--/ HEADER -->  */

/*  <!--  TAGS -->  */
.tags
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    height: 65px;
}

.tags__content
{
    height: 46px;
    min-width: 960px;
    margin: 10px 240px;
}

.tags__list
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.tags__list-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 46px;
    width: 139px;
    margin: 0 10px;
}

.tags__list-item > span {
    font: 14px/20px "Lora";
    text-align: center;
    margin: 13px 46px;
    color: #768088;
}
/*  <!--/ TAGS -->  */

/*  <!--  POSTS -->  */
.posts
{
    display: flex;
    flex-direction: column;
    margin-bottom: 89px;
}

.featured-posts,
.most-recent-posts
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-posts__title,
.most-recent-posts__title
{
    width: 188px;
    margin-top: 60px;
    font: 20px/27px "Oxygen";
    text-align: center;
    letter-spacing: 2px;
    color: #2e2e2e;
    padding-bottom: 16px;
    border-bottom: solid 1px #DEDEDE;
    margin-bottom: 16px;
}

.featured-posts__board
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin: 0px 250px;
    min-width: 940px;
    max-width: 1000px;
}

.featured-posts__post
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 280px;
    margin: 7px 10px;
}

.featured-post__tag
{
    position: relative;
    border-radius: 2px;
    top: 20px;
    left: 20px;
    width:fit-content;
    height: 26px;
}

.featured-post__tag > span
{
    font: 12px/13px "Oxygen";
    text-transform: uppercase;
    margin: 6px 9px;
    color: #ffffff;
}

.featured-post__name
{
    position: relative;
    margin-top: 131px;
    margin-left: 20px;
    font: 27px/30px "Lora";
    color: #FFFFFF;
}

.featured-post__text
{
    position: relative;
    margin-left: 20px;
    margin-top: 6px;
    font: 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__info
{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.featured-post__author-info
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-post__author-icon
{
    display: flex;
    width: 26px;
    height: 26px;
    background: url(.jpg);
    border-radius: 60px;
    margin-right: 10px;
}

.featured-post__author-name
{
    font: 12px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__date
{
    font: 12px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

/* MOST-RECENT */

.most-recent-posts__board
{
    display: grid;
    margin: 6px 12px;

    grid-row-gap: 25px;
    grid-column-gap: 24px;
    grid-template-rows: 291px 291px;
    grid-template-columns: 296px 296px 296px;
    
    align-items: center;
    justify-content: center;

    min-width: 960px;
    max-width: 1000px;
    
}

.most-recent-posts__post
{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    height: 291px;
    width: 296px;
}

.most-recent-post__cover
{
    display: flex;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.most-recent-post__content
{
    height: 92px;
}

.most-recent-post__name
{
    margin-top: 14px;
    margin-left: 13px;
    font: 16px/21px "Lora";
    color: #101315;
}

.most-recent-post__text
{
    margin: 0 13px;
    margin-top: 8px;
    font: 13px/19px "Oxygen";
    color: #7A7A7A;
}

.most-recent-post__rectangle
{
    width: 296px;
    height: 1px;
    background: #DEDEDE;
}

.most-recent-post__tag
{
    position: relative;
    border-radius: 2px;
    top: 10px;
    left: 10px;
    width:fit-content;
    height: 22px;
    display: flex;
}

.most-recent-post__tag > span
{
    font: 9px/10px "Oxygen";
    text-transform: uppercase;
    margin: 7px 6px;
    color: #ffffff;
}

.most-recent-post__info
{
    margin: 0 13px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

.most-recent-post__author-info
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.most-recent-post__author-icon
{
    display: flex;
    width: 26px;
    height: 26px;
    background: url(.jpg);
    border-radius: 60px;
    margin-right: 10px;
}

.most-recent-post__author-name
{
    font: 12px/35px "Oxygen";
    color: #999999;
}

.most-recent-post__date
{
    font: 12px/35px "Oxygen";
    color: #999999;
}

.nature
{
    background: #E6C728;
}

.photography
{
    background: #A872B7;
}

.adventure
{
    background: #DD783F;
}

.relaxation
{
    background: #4AAEC2;
}

.vacation
{
    background: #D25F7C;
}

.travel
{
    background: #49AE5C;
}
/*  <!--/ POSTS -->  */


/*<!--  FOOTER -->*/
.footer
{
    margin-top: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../img/footer_background.png), #4d565d;
    background-repeat: no-repeat;
    background-size: cover;
    height: 378px;
}

.footer__head
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 227px;
    margin: 0 250px;
    margin-top: 62px;
    width: 940px;
}

.footer__title 
{
    position: relative;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #EFEFEF;
    margin-top: 19px;
    width: 188px;
    padding-bottom: 17px;
    border-bottom: solid 1px #DEDEDE;
}

.footer__form
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer__input[type=text]
{
    width: 375px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    border-style: none; 
    font: 13px/14px "Roboto";
    color: #817F83;
    padding: 18px 35px;
}

.footer__input[type=submit]
{
    width: 125px;
    height: 50px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border-style: none;
    font: 13px/14px "Roboto";
    color: #F8F8F8;
}

.footer__bottom
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 89px;
    background: rgba(35, 47, 56, 0.6);
}

.footer__nav
{
    display: flex;
    width: 960px;
    margin: 28px 240px;
    justify-content: space-between;
}

.footer__logo
{
    font: 26px/26px "Lora";
    color: #FFFFFF;
    margin: 0 10px;
}

.footer__menu
{
    display: flex;
    align-items: center;
}

.footer__menu-link
{
    font: 11px/26px "Oxygen";
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px 10px;
}
/*  <!--/ FOOTER -->  */