@import url("./styles.css");

.page
{
    background: linear-gradient(0deg, rgba(66, 70, 73, 0.4), rgba(66, 70, 73, 0.4)), url(../img/login_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page__content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0 130px;
}

.main__logo
{
    margin-top: -48px;
    margin-left: 100px;
}

.main__title
{
    display: flex;
    align-items: flex-end;
}

.main__title>span:nth-child(1)
{
    color: var(--text-primary-inverse);
    font: 45.5px/46px "Lora";
}

.main__title>span:nth-child(2)
{
    color: var(--text-primary-inverse);
    font: 24.5px/31px "Oxygen";
}

.main__subtitle
{
    margin-top: 16px;
    color: var(--text-primary-inverse);
    font: 17px/25px "Oxygen";
}

.form
{
    width: 480px;
    height: 560px;
    background: var(--background-default);
    border-radius: 3px;
}

.form__title
{
    color: var(--text-primary);
    font: 34px/40px "Lora";
    margin-top: 56px;
    margin-left: 40px;
}

.form__content
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.form__warning
{
    width: 400px;
    height: 44px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.form__warning--critical
{
    background: var(--background-critical);
    border-left: 2px solid var(--status-critical);
}

.form__warning--success
{
    background: var(--background-success);
    border-left: 2px solid var(--status-success);
}

.form__warning--hidden
{
    display: none;
}

.form__warning-icon
{
    margin-left: 12px;
    width: 24px;
    height: 24px;
    background: url("../icons/alert-circle.svg");
}

.form__warning-text
{
    margin-left: 10px;
    color: var(--text-primary);
    font: 14px/20px "Oxygen";
}

.form-field
{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.form-field__label
{
    color: var(--text-secondary);
    font: 12px/16px "Oxygen";
}

.form-field__email
{
    width: 400px;
    height: 40px;
    font-family: 'Oxygen';
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    background: #FFFFFF;
    outline: none;
    border: 0;
    border-bottom: 1px solid #EAEAEA;
}

.form-field__email:invalid
{
    outline: none;
    border: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

.form-field__email:focus:valid
{
    outline: none;
    border: 0;
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.form-field__email:valid
{
    outline: none;
    border: 0;
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.form-field__password
{
    width: 400px;
    height: 40px;
    font-family: 'Oxygen';
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    background: #FFFFFF;
    border-radius: 0;
    border-width: 0;
    border-bottom: 1px solid #EAEAEA;
}

.form-field__password:invalid
{
    outline: none;
    border: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

.form-field__password:focus:valid
{
    outline: none;
    border: 0;
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.form-field__password:valid
{
    outline: none;
    border: 0;
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.form-field__show-password
{
    position: absolute; 
    top: 25px;
    right: 50px;
    cursor: pointer;
    display: flex;
}

.form-field__show-password-replace
{
    display: none;
}

.form-field__hide-password
{
    position: absolute; 
    top: 25px;
    right: 50px;
    cursor: pointer;
    display: none;
}

.form-field__hide-password-replace
{
    display: flex;
}

.form__field-icon
{
    width: 24px;
    height: 24px;
    background: url("../icons/eye.svg");
}

.form__button
{
    width: 93px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font: 16px/24px "Oxygen";
    color: var(--text-primary-inverse);
    border-style: none;
    border-radius: 3px;
    background: var(--background-button);
}