* {
    margin: 0;
    padding: 0;
}

.page 
{
    /* background: #000; */
    color: #000;
}

.header
{
    
}

.header__logo>span 
{
    color: #FFFFFF;
    font: 26px/26px Lora;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.header__menu-item>span
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__block
{
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main__block-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__block-title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.main__block-label {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.main__block-button
{
    width: 167px;
    height: 44px;
    background: #DD783F;
    border-radius: 3px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.tag__block
{

}

.tag__list
{

}

.tag__list-item>span
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    color: #768088;
}

.footer
{
    background: url(../img/footer_background.png), #4D565D;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo>span 
{
    color: #FFFFFF;
    font: 26px/26px Lora;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.footer__menu-item>span
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;


    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.6);
}
